 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body, a {
    line-height: 1;
    /*Typography Declarations*/
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #838994;
    letter-spacing: 0.03em;
    text-decoration: none;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* DEBUG */
body {
    background-color: LightGray;
}

div {
    border: 1px solid Chocolate;
}

/* Font Smoothing */
html {
    -webkit-font-smoothing: antialiased;
}

/* Navigation Section */
.top-navigation {
    background-color: #fff;
}

.top-navigation > .content {
    padding: 0em 20em;
    height: 70px;
    /*width: 50em;*/
    margin: 0 auto;
}

.top-navigation .logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

.top-navigation .links {
    float: right;
    box-sizing: border-box;
}

.top-navigation .links li {
    display: inline-block;
    padding-left: 2em;
    padding-top: .75em;
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 600;
}

.top-navigation .links a {
  transition: color 0.5s ease;
  color: #838994;
}

.top-navigation .links a:hover {
    color: #4c5058;
}
